# large dataset

dataset.pt
encrypted_traffic_burst.txt

# model files

/models/
runs/
saved_runs/
*.pt
*.pth
*.bin
*.ckpt

# python cache

**pycache**/
*.pyc

# vscode

.vscode/

# jupyter

.ipynb_checkpoints/
